<div class="modal fade" id="dialog" tabindex="-1" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span>X</span>
                </button>
                <h3 class="modal-title">New</h3>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>